<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268265922042-t0jbtqqcusmgidefemdk66jjh5cisfgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268265922042-t0jbtqqcusmgidefemdk66jjh5cisfgg</string>
	<key>API_KEY</key>
	<string>AIzaSyCYeTBSP1Ygc-d-OmiUEzQ4Bgt7QptAtUI</string>
	<key>GCM_SENDER_ID</key>
	<string>268265922042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scorohod.delivery</string>
	<key>PROJECT_ID</key>
	<string>scorohod-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>scorohod-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268265922042:ios:16df0ee99b755e78b39843</string>
</dict>
</plist>